// Colors
@use "sass:color";

$color1: rgb(34, 103, 230);
$color2: rgb(77, 81, 90);
$color3: rgba(39, 144, 185, 0.712);
$color4: rgb(214, 227, 255);
$colorText: #282828;
$colorText2: #575757;

$danger: #fe320f;

// Text familia
$font1: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font2: "Georgia", "Times New Roman", serif;

// Dimensions estandar
$mqMinWidth: 420px;
