.nav {
  box-shadow: 5px 5px 15px 6px rgb(0 0 0 / 20%);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: $color3;
  border-bottom: $color2 1px solid;
  a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  a:hover {
    background: $color1;
    box-shadow: 5px 5px 15px 6px rgb(0 0 0 / 20%);
    font-size: large;
  }
  .nav__item--selected {
    background: $color1;
    font-size: large;
  }
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .nav {
    flex-flow: column wrap;
    padding: 0;
    a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    li:last-of-type a {
      border-bottom: none;
    }
  }
}
