.main--noticies__section {
  display: flex;
  width: auto;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  justify-content: center;
}

.main--nosaltres__section__article {
  margin: 1vw 5vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  blockquote {
    max-width: 50vw;
  }
}
